<div class=" flex items-center justify-center bg-white p-2">
  <div class="max-w-5xl w-full grid grid-cols-1 md:grid-cols-2 bg-white rounded-lg shadow-md overflow-hidden">
    
    <!-- القسم الأيسر: صورة أو لوجو -->
    <div class="bg-black text-white flex items-center justify-center p-2">
      <h1 class="text-4xl text-[#9F9F9F] font-bold">Note App</h1>
    </div>

    <!-- القسم الأيمن: نموذج التسجيل -->
    <div class="p-5">
      <h2 class="text-3xl font-bold mb-5">Register Now:</h2>

      <form  [formGroup]="registerForm" (ngSubmit)="submitRegisterForm()" >

        <div class="mb-2">

          @let  namecontrol =registerForm.get('name');
    <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">name</label>
    <input formControlName="name" type="text" id="name" class="w-full mb-4 px-4 py-2 border rounded-md outline-none focus:ring-1 focus:ring-black">

    @if (namecontrol?.errors && namecontrol?.touched) {
        
    <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
  <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
  </svg>
  <span class="sr-only">Danger</span>
  <div>
    <span class="font-medium">Ensure that these requirements are met:</span>
      <ul class="mt-1.5 list-disc list-inside">
        @if (namecontrol?.getError('required')) {
            <li>Name is required</li>
        }

        @if (namecontrol?.getError('minLength')) {
        <li>Name Should be more than or equal  3 chars</li>
    }
     @if (namecontrol?.getError('maxLength')) {
        <li> Name Should be less than or equal  20 chars</li>
    }
     
    </ul>
  </div>
</div>
    }
</div>


 <div class="mb-2">
  @let emailcontrol = registerForm.get('email');
    <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">email</label>
    <input formControlName="email" type="email" id="email" class="w-full mb-4 px-4 py-2 border rounded-md outline-none focus:ring-1 focus:ring-black">

@if (emailcontrol?.errors && emailcontrol?.touched) {

     <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
  <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
  </svg>
  <span class="sr-only">Danger</span>
  <div>
    <span class="font-medium">Ensure that these requirements are met:</span>
      <ul class="mt-1.5 list-disc list-inside">
        @if (emailcontrol?.getError('required')) {
            <li>email is required</li>
        }

        @if (emailcontrol?.getError('email')) {
        <li>Enter Valid Email</li>
    }
    
     
    </ul>
  </div>
</div>
}
</div>








 <div class="mb-2">
    <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">password</label>
    <input formControlName="password" type="password" id="password"class="w-full mb-4 px-4 py-2 border rounded-md outline-none focus:ring-1 focus:ring-black">
    @if (registerForm.get('password')?.errors && registerForm.get("password")?.touched) {
           <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
  <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
  </svg>
  <span class="sr-only">Danger</span>
  <div>
    <span class="font-medium">Ensure that these requirements are met:</span>
      <ul class="mt-1.5 list-disc list-inside">
        @if (registerForm.get('password')?.getError('required')) {
            <li>password is required</li>
        }

        @if (registerForm.get('password')?.getError('pattern')) {
        <li>password must start with upperCase then from 6 to more any word chars.</li>
    }
    
     
    </ul>
  </div>
</div>
    }
</div>



<div class="mb-2">
    <label for="age" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">age</label>
    <input formControlName="age" type="number" id="age" class="w-full mb-4 px-4 py-2 border rounded-md outline-none focus:ring-1 focus:ring-black">
@if (registerForm.get('age')?.errors && registerForm.get("age")?.touched) { 

    <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
  <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
  </svg>
  <span class="sr-only">Danger</span>
  <div>
    <span class="font-medium">Ensure that these requirements are met:</span>
      <ul class="mt-1.5 list-disc list-inside">
        @if (registerForm.get('age')?.getError('required')) {
            <li>age is required</li>
        }

        @if (registerForm.get('age')?.getError('pattern')) {
        <li>Invalid age! Please enter a number between 10 and 80.</li>
    }
    
     
    </ul>
  </div>
</div>
}
</div>


<div class="mb-2">
    <label for="phone" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">phone</label>
    <input formControlName="phone" type="tel" id="phone"class="w-full mb-4 px-4 py-2 border rounded-md outline-none focus:ring-1 focus:ring-black">
@if (registerForm.get('phone')?.errors && registerForm.get("phone")?.touched) { 

    <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
  <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
  </svg>
  <span class="sr-only">Danger</span>
  <div>
    <span class="font-medium">Ensure that these requirements are met:</span>
      <ul class="mt-1.5 list-disc list-inside">
        @if (registerForm.get('phone')?.getError('required')) {
            <li>phone is required</li>
        }

        @if (registerForm.get('phone')?.getError('pattern')) {
        <li>phone must be only egypt phone numbers</li>
    }
    
     
    </ul>
  </div>
</div>

}
</div>
        <!-- <input
          type="text"
          placeholder="Username"
          formControlName="username"
          class="w-full mb-4 px-4 py-2 border rounded-md outline-none focus:ring-2 focus:ring-blue-500"
        /> -->

        <!-- <input
          type="email"
          placeholder="Email"
          formControlName="email"
          class="w-full mb-4 px-4 py-2 border rounded-md outline-none focus:ring-2 focus:ring-blue-500"
        /> -->

        <!-- <input
          type="password"
          placeholder="Password"
          formControlName="password"
          class="w-full mb-4 px-4 py-2 border rounded-md outline-none focus:ring-2 focus:ring-blue-500"
        /> -->

        <!-- <p class="text-sm mb-4">
          Already have an account? 
          <a routerLink="/login" class="text-blue-600 font-semibold hover:underline">Login</a>
        </p> -->

        <button [disabled]="isLoading"
          type="submit"
          class="bg-black text-white px-6 py-2 rounded-md hover:bg-gray-800 transition"
        >
           sign Up
          @if (isLoading) {
            <i class="fas fa-spinner animate-spin"></i>
          }
        </button>

      @if (succesMsg) {
          <div class="flex items-center p-4 my-4 text-sm text-green-800 border border-green-300 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400 dark:border-green-800" role="alert">
  <svg class="shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
  </svg>
  <span class="sr-only">Info</span>
  <div>
    {{succesMsg}}
  </div>
</div>
      }

      @if (errMsg) {
        <div class="flex items-center p-4 my-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400 dark:border-red-800" role="alert">
  <svg class="shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
  </svg>
  <span class="sr-only">Info</span>
  <div>
    {{errMsg}}
  </div>
</div>
      }
      </form>
    </div>
  </div>
</div>
