.light-container{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.523);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;



.box-container{
width: 40%;




}

}

.d-none{
    display: none;
}